.header__signin-link {
  font-size: 12px;
  line-height: 16px;
  min-height: 32px;
  min-width: 76px;
  border-radius: 3px;
  background-color: #3DDC84;
  color: #000;
}

@media screen and (max-width: 425px) {
  .header__signin-link {
    min-height: 26px;
    min-width: 54px;
    font-size: 10px;
  }
}