.card__img {
  width: 100%;
  height: 100%;
  max-height: 203px;
  transition: opacity .2s linear;
}

.card__img:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .card__img {
    max-height: 190px;
  }
}

@media screen and (max-width: 425px) {
  .card__img {
    max-height: 168px;
  }
}