.search__form {
  display: flex;
  align-items: center;
  gap: 41px;
  padding: 80px 0 83px;
  width: 100%;
  max-width: 1140px;
  border-bottom: 1px solid rgba(170, 170, 170, .2);
}

@media screen and (max-width: 768px) {
  .search__form {
    padding: 60px 0 56px;
    flex-direction: column;
    gap: 37px;
  }  
}

@media screen and (max-width: 425px) {
  .search__form {
    gap: 44px;
    padding-bottom: 43px;
  }
}