@import url('./elements/index.css');

.header {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #202020;
}

.header_main-page {
  background-color: #073042;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}